<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Congratulations for the purchase, <%= @user.first_name %></h1>
    <h3>Here is all the information about your order:</h3>
    <p>
      Product name: <%= @product.name %>
      Details: <%= @product.details %>
      Price: <%= @product.price %>
      Vendor: <%= @product.user.first_name %>
    </p>
    <%= cl_image_tag @product.photos.first.key, height: 300, width: 400, crop: :fill %>
  </body>
</html>
