<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Congratulations for the purchase, <%= @user.first_name %> <%= @user.last_name %>!</h1>
    <h3>Here is all the information about your order:</h3>
    <p>
     <br> <strong>Product:</strong>  <%= @product.name %>
     <br> <strong>Seller:</strong> <%= @product.user.first_name %>
     <br> <strong>Price:</strong> <%= @product.price %>
     <br> <strong>Details:</strong> <%= @product.details %>
    </p>
    <%= cl_image_tag @product.photos.first.key, height: 300, width: 400, crop: :fill %>
  </body>
</html>
