  <h1>Show Products</h1>


<%= @product.name %>
<%= number_to_currency(@product.price)  %>
<%= @product.details %>
<%= @product.user.first_name %>
<% @product.photos.each do |photo| %>
<%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><%= @product.name %></h5>
    <p class="card-text">  <%= @product.details %></p>
    <%= button_to 'Buy', product_sales_path(@product), class:"btn btn-primary", data: {turbo_method: :post} unless @product.user == current_user%>

  </div>
</div>



    <a href="#" class="btn btn-primary">Go somewhere</a>
  <%= number_to_currency(@product.price) %>

  <%= @product.user.first_name %>
