<h1>User_Products View</h1>

<% @products.each do |product| %>
<div>
<%= product.name  %>
<%= product.details %>
<%= number_to_currency(product.price) %>
<%= link_to 'edit', edit_product_path(product.id) %>
<%= link_to 'delete', product_path(product.id), data: {turbo_method: :delete} %>
</div>
<% end %>
