<!DOCTYPE html>
<html>
  <head>
    <title>Ez2code</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
  <div id="navbar">
    <%= link_to 'Ez2Schedule', root_path%>
    <%= link_to 'Login', new_user_session_path unless user_signed_in?%>
    <%= link_to 'SignUp', new_user_registration_path unless user_signed_in?%>
    <%= button_to 'LogOut', destroy_user_session_path, method: :delete if user_signed_in? %>
</div>
    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <h5>Footer</h5>
    <div id="footer">
    <h6>LeWagon Bootcamp Team</h6>
      <div>
        <a href=""><img class="footer_avatar" src="https://ca.slack-edge.com/T02NE0241-U045USVMY4U-48f94426c9d8-512" alt="Guilherme"></a>
        <a href=""><img class="footer_avatar" src="https://ca.slack-edge.com/T02NE0241-U045WQ6DWEQ-edd7bd4d04ac-512" alt="Juliana"></a>
        <a href=""><img class="footer_avatar" src="https://ca.slack-edge.com/T02NE0241-U045TU51PQT-903fa0de971e-512" alt="Rodolfo"></a>
        <a href=""><img class="footer_avatar" src="https://ca.slack-edge.com/T02NE0241-U045SC33659-478636eb428a-512" alt="Rodrigo"></a>
      </div>
    </div>
  </body>
</html>
